<div style="margin:40px">
<h1 style="text-align:center; ">UCAS_Overflow</h1>
</div>
<div name = "blog-part" class="blog-part">
    <table class="  blog-part-table">
        <tr>
            <td><%= render "hotest_blogs" %></td>
            <td><%= render "video_blogs" %></td>
        </tr>
        <tr> 
            <td><%= render "text_blogs" %></td> 
            <td><%= render "resource_blogs" %></td> 
        </tr>
    </table>
    
</div>
