<% provide(:title, "资源区：全部帖子") %>

<%= render "share/flash_message.html"%> 

<p id="notice"><%= notice %></p>

<%= render partial: "show_blogs_list.html" %>

<div class = "centerBottom" > 
<%= link_to '发布资源', new_resource_blog_path, style: "color:white", class: "btn btn-primary btn-lg "%>
</div>