// Place all the styles related to the ResourceBlogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centerBottom {
    height: auto;
    text-align: center;
    padding: 20px 20px;
    min-width: 40px;
  }
.leftBottom {
height: auto;
text-align: left;
padding: 20px 20px;
min-width: 40px;
}
.resourceBlogMessage{
  background-color: #05274e4d;
  margin: 0px 0px 0px 0px;
  top:50%;
  left:50%;
  border-width: 0 0 0 0;
  /*box-shadow: #080a0ecc 20px 20px 20px 3px;
  border-radius: 10px 10px 10px 10px;*/
  transform: translate(-50%,2%)
}
