// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.line-limit-length {
    max-width: 200px;
    overflow: hidden;
    
    text-overflow: ellipsis;
    
    white-space: nowrap; //文本不换行，这样超出一行的部分被截取，显示...
    
}

.blog-part{
    float: left;
    width: 80vw;

}

.user-part{
    width: 8.3vw;
    margin: 0%;
    float:left;
    left: 5px;
    margin-left: 20px
}

.user-part-table{
    table-layout:fixed;

}

.user-part-table td{
    text-align:center
    
}

.user_head{
    width: 80px;
    height: 80px;
}
.panel-body{
    padding: 2;
}

.blog-part-table {
    table-layout:fixed;
}

.blog-part-table td{
    padding-right: 30px;
    padding-left: 5px;
}
