// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'bootstrap/theme';

.my_row {
  background-color: #95c4f94d;
  margin: 0px 0px 0px 0px;
  top:50%;
  left:50%;
  border-width: 0 0 0 0;
  box-shadow: #080a0ecc 20px 20px 20px 3px;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  transform: translate(-50%,-70%)
}

.edit_row {
  background-color: #95c4f94d;
  margin: 0px 0px 0px 0px;
  top:50%;
  left:50%;
  border-width: 0 0 0 0;
  box-shadow: #080a0ecc 20px 20px 20px 3px;
  border-radius: 10px 10px 10px 10px;
  transform: translate(-50%,2%)
}
 
 .body-user-login-background{
   background-image: image-url('background.jpg');
   //background-color: #DADADA;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
   //background-size: 100% 100%;
 }

.user_link {
  color: #FFFFFFB3;
  font-weight: bolder;
  text-align: center;
  font-size: 14px;
}

.user_link:visited {
  color: #FFFFFFB3;
}

.user_link:hover {
  color: #FFFFFF;
  background-color: #00000000;
  text-decoration-line: none;
  font-size: 14px;
}

.user_link:hover,
.user_link:focus {
  color: #50ab9bcc;
}


#title {
  width: auto;
  text-align: center;
  font-size: 140px;
  margin-top: 200px;
  transition: font-size 2s;
}

#title:hover {
  font-size: 148px;
}

.aTopAndBottom {
  height: auto;
  text-align: center;
  padding: 10px 0px;
  min-width: 20px;
}

.netease_Player {
  position: absolute;
  display: none;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #fff !important;
  background-color: #fff0 !important;
  font-size: 19px;
}

.dropup .dropdown-menu {
  background-color: #fff0 !important;
  text-decoration: none;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 16px 16px 0px 0px;
  box-shadow: none;
  margin-bottom: 14px;
}

.dropdown-menu>li>a {
  color: #fff;
  padding: 12px;
  font-weight: bolder;
}

.navbar {
  min-height: 46px;
}
/*登录框  最大宽度 与上边距 重构*/

.modal-dialog {
  width: 350px;
  margin: 60px auto;
}
/*登录框 背景颜色与透明度，边框线粗度，边框弧度，边框阴影 重写*/

.modal-content {
  background-color: #afd2ff66;
  border: 0px solid rgba(0, 0, 0, .2);
  border-radius: 31px;
  box-shadow: 0px 0px 40px 21px rgba(131, 151, 201, 0.5);
  -webkit-box-shadow: 0px 0px 40px 21px rgba(131, 151, 201, 0.5);
  box-shadow: 0px 0px 40px 21px rgba(131, 151, 201, 0.5);
}
/* 登录框位置重写 */

.modal-body {
  position: relative;
  padding: 10px 34px;
}
/*输入框 背景颜色与透明度重构*/

.form-control {
  background-color: #fffc;
}