// Place all the styles related to the VideoBlogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';

.centerBottom {
    height: auto;
    text-align: center;
    padding: 20px 20px;
    min-width: 40px;
  }
.leftBottom {
height: auto;
text-align: left;
padding: 20px 20px;
min-width: 40px;
}
.blog_form_title{
    
}